ul li {
    color: red;
}

.rounded-image {
    background-color: red;
    border-radius: 10px;
}

.box {
    height: 300px;
    width: 300px;
    background-color:red ;
}
 
.rounded {
    border-radius: 30px;
}

.rotated {
    rotate: 30deg;
    background-color: orange;
}